@import url("@/assets/css/fonts.css");

body {
    background: rgb(234,229,9);
    background: linear-gradient(130deg, rgba(234,229,9,1) 0%, rgba(184,180,8,1) 100%);
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

#app {
    margin-top: 84px;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

nav {
    padding: 12px;
}

nav a {
    margin: 0 24px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    vertical-align: middle;
}

nav a.router-link-exact-active {
    font-weight: 900;
    color: #000;
}

header {
    padding: 0 7%;
    backdrop-filter: blur(10px);
    width: 86%;
    position: fixed;
    top: 0;
    z-index: 5;
}

footer {
    padding: 0 10%;
    background-color: #333;
    color: #fff;
    text-align: right;
    /*padding: 0 1em;*/
}

footer p {
    margin: 0;
    padding: 1em 0;
}